<% title 'Редактирование профиля' %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <fieldset>
    <legend>
      Редактирование профиля
      <div class="pull-right"><%= link_to 'Удалить аккаунт', registration_path(resource_name), :confirm => 'Удалить аккаунт', :method => :delete %></div>
    </legend>
    <div class="row">
      <div class="span6">
        <%= f.input :last_name, :input_html => { :class => 'input-xlarge' } %>
        <%= f.input :first_name, :input_html => { :class => 'input-xlarge' } %>
        <%= f.input :password, :input_html => { :class => 'input-xlarge' }, :hint => 'Оставьте пустым это поле, если не хотите менять пароль.' %>
        <%= f.input :password_confirmation, :input_html => { :class => 'input-xlarge' } %>
        <%= f.input :current_password, :input_html => { :class => 'input-xlarge' }, :hint => 'Вы должны ввести свой пароль для подтверждения изменений.' %>
      </div>
      <div class="span6">
        <%= f.simple_fields_for :profile do |profile_form| %>
          <%= profile_form.input :description, :input_html => { :class => 'input-xlarge', :size => '20x4' } %>
          <%= profile_form.input :location, :input_html => { :class => 'input-xlarge' } %>
          <%= profile_form.input :avatar, :as => :file, :input_html => { :class => 'input-xlarge' } %>
          <%= avatar(resource, '100x100') %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary' %>
      <%= link_to 'Отменить', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

