<% title 'Регистрация нового пользователя' %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => 'form-horizontal' ) do |f| %>
  <fieldset>
    <legend>Регистрация нового пользователя</legend>
    <%= f.input :last_name, :input_html => { :class => 'input-xlarge' } %>
    <%= f.input :first_name, :input_html => { :class => 'input-xlarge' } %>
    <%= f.input :email, :as => :email, :input_html => { :class => 'input-xlarge' }, :hint => 'E-mail будет использоваться для входа в систему.'  %>
    <%= f.input :password, :input_html => { :class => 'input-xlarge' } %>
    <%= f.input :password_confirmation, :input_html => { :class => 'input-xlarge' } %>
    <div class="form-actions">
      <%= f.submit 'Зарегистрироваться', :class => 'btn btn-primary' %>
      <span class="form-links"><%= render "links" %></span>
    </div>
  </fieldset>
<% end %>
