<% title "Профиль #{@user.full_name}" %>
<div id="profile" class="thumbnail">
  <div class="avatar">
    <%= avatar(@user, '100x100') %>
  </div>
  <div class="content">
    <h2>
      <%= @user.full_name %>
      <% if can? :update, @user %>
        <div class="manage-section">
          <%= link_to 'Редактировать', edit_user_registration_path, :class => 'btn' %>
        </div>
      <% end %>
    </h2>
    <dl>
      <dt>О себе</dt>
      <dd><%=h @user.profile.description %></dd>
      <dt>Местоположение</dt>
      <dd><%=h @user.profile.location %></dd>
    </dl>
  </div>
</div>
<h3>Опубликованные проблемы</h3>
<div id="posts">
  <%= render @user.posts %>
</div>