<div class="well" id="search">
  <form class="form-horizontal" action="<%= posts_path(:format => :json) %>" method="get" id="search_form">
    <div class="section">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <input type="text" placeholder="Ключевое слово" class="input-xlarge" name="q" id="q" />
      </div>
    </div>
    <div class="section">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-flag"></i></span>
        <input type="text" placeholder="Местоположение" class="input-xlarge" name="location" id="location" />
      </div>
    </div>
  </form>
  <div class="right-section"><%= link_to 'Есть проблема', new_post_path, :class => 'btn btn-large btn-danger' %></div>
</div>