<% title 'Войти' %>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Войти</legend>
    <%= f.input :email, :as => :email %>
    <%= f.input :password, :as => :password %>

    <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me, f.check_box(:remember_me) + resource.class.human_attribute_name(:remember_me), :class => 'checkbox' %>
    <% end %>
    <%= f.submit 'Войти', :class => 'btn' %>
    <span class="form-links"><%= render "links" %></span>

  </fieldset>

<% end %>

