<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="span4">
      <h2><%=h post.title %></h2>
      <p>
        <%= image_tag post.cover.url_url(:thumb), :class => 'cover_img', :width => 100 unless post.cover_id.nil? %>
        <%=raw nl2br(h truncate(post.content, :length => 300)) %>
      </p>
      <p><%= link_to 'Детально >>', post_path(post), :class => 'btn' %></p>
    </div>
  <% end %>
</div>
