<%= form_for @post, :class => 'form-horizontal' do |f| %>
  <fieldset>
    <legend><%= @post.new_record? ? 'Создание' : 'Редактирование'%> проблемы</legend>
    <div class="control-group<%= error_exists?(:title, @post) ? ' error' : '' %>">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'input-xlarge' %>
        <%= error_message :title, @post %>
      </div>
    </div>
    <div class="control-group<%= error_exists?(:content, @post) ? ' error' : '' %>">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'input-xxlarge', :size => '20x10' %>
        <%= error_message :content, @post %>
      </div>
    </div>
    <div class="control-group<%= error_exists?(:email, @post) ? ' error' : '' %>">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'input-xlarge' %>
        <%= error_message :email, @post %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_names, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tag_names, :class => 'input-xlarge' %>
        <p class="help-block">Разделяйте теги запятой.</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :location, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :location, :class => 'input-xlarge' %>
        <p class="help-block">Страна, город, населённый пункт.</p>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit @post.new_record? ? 'Создать' : 'Сохранить', :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>