<a class="small_post" href="<%= post_path(post) %>">
  <div class="post_cover">
    <%= cover(post) %>
  </div>
  <div class="post_content">
    <div class="post_title">
      <h4><%=h post.title %></h4>
    </div>
    <div class="post_tags">
      <h4>
        <small>
          <%= Russian::strftime(post.created_at, '%d %b в %H:%M')%>
          <span> | </span>
          <%=h post.tag_names %>
        </small>
      </h4>
    </div>
  </div>
  <div class="post_location">
    <i class="icon-flag"></i>
    <%=h post.location %>
  </div>
</a>