<a class="small_post" href="{{url}}">
  <div class="post_cover">
    <img src="{{cover_url}}" alt="{{title}}" width="50" height="50"/>
  </div>
  <div class="post_content">
    <div class="post_title">
      <h4>{{title}}</h4>
    </div>
    <div class="post_tags">
      <h4>
        <small>
          {{created_at}}
          <span> | </span>
          {{tag_names}}
        </small>
      </h4>
    </div>
  </div>
  <div class="post_location">
    <i class="icon-flag"></i>
    {{location}}
  </div>
</a>