<% title 'Редактирование проблемы' %>
<%- key = Rails.application.config.session_options[:key] %>
<%= content_for :scripts do %>
<script>
  $(function() {
    var upload_params = {
      '<%= key %>' : '<%= cookies[key] %>',
      '<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };
    var url = $('#image_url').data('url');
    console.log(url);
    $('#image_url').uploadify({
      swf          : '/assets/uploadify.swf',
      uploader     : url,
      fileObjName  : 'image[url]',
      checkExisting: false,
      buttonText   : 'Загрузить изображения',
      cancelImage  : '/assets/cancel.png',
      multi        : true,
      postData     : upload_params,
      auto         : true,
      fileTypeDesc : 'All Image Files',
      fileTypeExts : '*.png;*.jpg;*.jpeg;*.gif',
      width        : 150,
      onUploadSuccess : function(e, response, data) {
        $('#images').append(response);
      }
    });
  });
</script>
<% end %>

<div class="tabbable" style="margin-bottom: 9px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#general_tab" data-toggle="tab">Общая информация</a></li>
    <li class=""><a href="#images_tab" data-toggle="tab">Изображения</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="general_tab">
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="images_tab">
      <div id="image_uploader">
        <%= fields_for Image.new do |f| %>
          <%= f.file_field :url, :data => { :url => post_images_path(@post) } %>
        <% end %>
      </div>
      <ul id="images" class="thumbnails"><%= render :partial => 'images/image', :collection => @post.images %></ul>
    </div>
  </div>
</div>