<%= render 'shared/search' %>
<div class="row">
  <div class="span9">
    <div id="posts">
      <%= render @posts %>
    </div>
  </div>
  <div class="span3">

  </div>
</div>
<script type="text/template" id="post_template">
  <%= render 'posts/post_template' %>
</script>
