<%= content_for :scripts do %>
  <%= stylesheet_link_tag 'jqGallery' %>
  <%= javascript_include_tag 'jqGallery' %>
  <script>
    $(function() {
      if ($('#gallery li').length > 0) {
        $('#gallery').jqGalViewII();
      }
    });
  </script>
<% end %>
<% title @post.title %>
<div class="row">
  <div class="span9">
    <div class="post">
      <div class="post_head">
        <% if @post.email.present? %>
          <div class="pull-right"><%= mail_to @post.email, 'Помочь', :class => 'btn btn-large btn-success' %></div>
        <% end %>
        <h2><%=h @post.title %></h2>
        <h4>
          <small>
            <%= Russian::strftime(@post.created_at, '%d %b в %H:%M')%>
            <span> | </span>
            <i class="icon-flag"></i>
            <%= @post.location %>
            <span> | </span>
            <%=raw view_tags(@post) %>
          </small>
        </h4>
      </div>
      <p class="post_content">
        <%= image_tag @post.cover.url_url(:thumb), :class => 'cover_img' unless @post.cover_id.nil? %>
        <%=raw nl2br(h @post.content) %>
      </p>
      <div class="post_footer">
        <ul id="gallery">
          <% @post.images.each do |image| %>
            <li><a href="<%= image.url_url %>" title="<%= image.title %>"><%= image_tag image.url_url(:small), :alt => image.title, :border => '0' %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="post_avatar_block thumbnail clearfix">
      <div class="image_block">
        <a href="<%= user_path(@post.user) %>" title="<%= @post.user.full_name %>"><%= avatar(@post.user) %></a>
      </div>
      <div class="desc_block"><strong><%=h @post.user.full_name %></strong></div>
    </div>

    <% if can? :update, @post %>
      <h4>Управление</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="<%= edit_post_path(@post) %>" title="Редактировать">Редактировать</a></li>
      </ul>
    <% end %>
  </div>

</div>