/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require css/bootstrap
 *= require uploadify
 *= require_self
*/
#container {
  margin-top: 60px;
  margin-bottom: 40px;
}
.form-links {
  margin-left: 10px;
}
.form-links a {
  margin: 0 5px;
}

#image_uploader {
  margin-bottom: 20px;
}

.cover_img {
  float: left;
  margin: 10px;
}

/* search form*/
#search {
  height: 30px;
}
  #search .section {
    width: 340px;
    float: left;
  }
  #search .right-section {
    float: right;
    margin-top: -22px;
  }


/* show post */
.post {

}
  .post .post_head {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
  }
  .post .post_head span {
    margin: 0 5px;
  }

.post_avatar_block {
  padding: 5px;
  margin-bottom: 10px;
}
  .post_avatar_block .image_block {
    float: left;
    width: 60px;
  }

  .post_avatar_block .desc_block {
    float: left;
  }


/* small post*/
a.small_post {
  display: block;
  border-top: 1px solid #E2E2E2;
  overflow: hidden;
  min-height: 65px;
  padding: 5px;
  text-decoration: none;
}
  .small_post .post_cover {
    height: 65px;
    width: 50px;
    float: left;
    line-height: 65px;
    padding: 0 10px;
  }

  .small_post .post_content {
    height: 65px;
    width: 250px;
    float: left;
  }
  .small_post .post_content .post_title {
    margin: 10px 0;
  }

#profile {
  padding: 10px;
  min-height: 110px;
  margin-bottom: 20px;
  display: inline-block;
}
  #profile .avatar {
    width: 110px;
    float: left;
  }
  #profile .content {
    float: left;
    width: 800px;
  }
    #profile .content .manage-section {
      float: right;
      width: 125px;
    }

#images .photo {
  height: 160px;
}
