<li class="span2" id="<%= dom_id(image) %>">
  <div class="photo thumbnail">
    <%= image_tag image.url_url(:thumb) if image.url? %>
    <div class="caption">
      <%= link_to 'Удалить', post_image_path(@post, image), :method => :delete, :confirm => "Вы уверены?", :remote => :true %>
      <%= link_to 'Обложка', cover_post_path(@post, :image_id => image.id), :method => :put, :remote => :true, :class => 'set_cover', :style => @post.cover == image ? 'display:none' : '' %>
    </div>
  </div>
</li>
