<ul class="nav pull-right">
<% if user_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=h current_user.full_name %><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Профиль', user_path(current_user) %></li>
      <li><a href="#">Сообщения</a></li>
      <li class="divider"></li>
      <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </li>
  <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
<% else %>
  <li><%= link_to 'Войти', new_user_session_path %></li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
<% end %>
</ul>