<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title><%= h(yield(:title) || 'Помоги ближнему!') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="maxlapko">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <% if content_for?(:scripts) %>
      <%= yield(:scripts) %>
    <% end %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Помоги ближнему', root_path, :class => 'brand' %>
          <div class="nav-collapse">
            <ul class="nav">
              <%= nav_link 'Проблемы', posts_path, controller?('posts') %>
              <%= nav_link 'Контакты', '#', false %>
            </ul>
            <%= render 'layouts/user_menu' %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="container" class="container">
      <% flash.each do |key, msg| %>
        <%= content_tag :div, :class => "alert alert-#{(key == :notice) ? 'success' : 'error'}" do %>
          <a class="close" data-dismiss="alert">&times;</a>
          <%=h msg %>
        <% end %>
      <% end %>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
